<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.asad.movie2">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Movie1">

        <activity android:name="id.asad.movie2.ui.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="id.asad.movie2.ui.detail.DetailContentActivity" />
        <activity
            android:name="id.asad.movie2.ui.home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Movie1.NoActionBar">

        </activity>

    </application>

</manifest>